/*Fuente de Google*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.header__img{    
    height: 100px;
    width: 100px;
}

/* Estilo para el footer */
footer{    
    background-image: linear-gradient(to right, #425651, #6EAE45);    
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;    
}

h1{
    color: #3785C1;
    font-size: 35px;
}

h2{
    color: #6EAE45;
}

h3{
    color: orange;
}

/* Propiedades Paginas */
.pagina__figure{
    display: flex;     
    justify-content: center;
}

.pagina__figure img{
    height: 150px;
    width: 100%;
}

.pagina__article{
    display: flex;
    flex-direction: column;         
}

.pagina__article p{
    font-size: 14px;
}

/* Para Uso del Formulario */
.titulo-formulario {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}